.App {
  text-align: center;
}

.square {
  width: 100px;
  height: 100px;
  background-color: white;
  position: relative;
  top: 10px;
  right: 10px;
  animation: square-spin infinite 2.5s linear; /* Changed duration to 2.5s */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 2.5s linear; /* Changed duration to 2.5s */
}

.squareContainer {
  position: absolute;
  top: 10px;
  right: 10px;
}

.hypnotize-circle {
  width: 200px;
  height: 200px;
  border: 2px solid #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: hypnotize 4s linear infinite;
  border-radius: 50%;
  box-shadow: 0 0 0 50px rgba(0, 0, 0, 0.3), 0 0 0 100px rgba(0, 0, 0, 0.2);
}

@keyframes hypnotize {
  0% {
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.5) rotate(360deg);
    opacity: 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo,
  .square {
    animation: square-spin infinite 2.5s linear, App-logo-spin infinite 2.5s linear; /* Changed duration to 2.5s */
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes square-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
